<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
<div class="test">


    <div>
        <select name="race" id="race">
            <option value="orc">Orc</option>
            <option value="uruk">Uruk</option>
            <option value="halfOrc">Half-orc</option>
            <option value="goblin">Goblin</option>
            <option value="snaga">Snaga</option>
            <option value="caveTroll">Cave Troll</option>
        </select>
        <br>
        
        <input id="warrior" class="profession warrior" type="checkbox" name="warrior" value="warrior">
        <label for="warrior" class="profession warrior">Warrior</label>
        <input id="ranger" class="profession ranger" type="checkbox" name="ranger" value="ranger">
        <label for="ranger" class="profession ranger">Ranger</label>
        <input id="barbarian" class="profession barbarian" type="checkbox" name="barbarian" value="barbarian">
        <label for="barbarian" class="profession barbarian">Barbarian</label>
        <input id="thief" class="profession thief" type="checkbox" name="thief" value="thief">
        <label for="thief" class="profession thief">Thief</label>
        <input id="spellCaster" class="profession spellCaster" type="checkbox" name="spellCaster" value="spellCaster">
        <label for="spellCaster" class="profession spellCaster">Spell Caster</label>
        <input id="rogue" class="profession rogue" type="checkbox" name="rogue" value="rogue">
        <label for="rogue" class="profession rogue">Rogue</label>
        
        
        <form oninput="lvlNumber.value=lvlRange.value">
            <label for="lvlRange">Average lvl</label>
            <input id="lvlRange" name="lvlRange" type="range" min="1" max="50" step="1">
            <input id="lvlNumber" for="lvlRange" type="number" placeholder="5"> 
        </form>
        <form oninput="quantity.value=quantityRange.value">
            <label for="quantity">Number of minions</label>
            <input id="quantityRange" name="quantityRange" min="1" max="150" step="1" type="range" >
            <input id="quantity" for="quantityRange" placeholder="5" type="number">
        </form>
        <button class="execute" id="execute">Envia</button>

        <div class="container" id="container" style="min-height: 200px; max-width: 1280px; margin: 0 auto;">

        </div>

    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/script.js') }}"></script>
</div>
</body>
</html>
